<div id="wrapper" class="ng-cloak full lr-page span4 offset4" ng-cloak >
    <!-- start: Login -->
    <div class="row-fluid">
        <div id="login-form" class="span12">
            <form method="post" action="" ng-submit="submit()">
                <div class="row-fluid">
                    <input class="span12" id="user" name="user" type="text" value="" placeholder="username" ng-model="user.username"  required/>
                    <input class="span12" id="pass" name="pass" type="text" value="" placeholder="password" ng-model="user.password" required/>
                </div>
                <div class="actions">
                    <button type="submit" class="btn span12">Login!</button>
                </div>
            </form>
        </div>
    </div>
    <!-- end: Login -->
</div>