<div id="wrapper" class="ng-cloak full lr-page span4 offset4" ng-cloak >

    <!-- start: Row -->
    <div class="row-fluid">

        <div id="login-form" class="span12">

            <img class="centre" src="/app/img/ie.png" />
            <p></p>
            <p>This site is optimised for HTML5 content and does not support Internet Explorer below version 10</p>
            <p>To experience the site as intended, please <strong>update your Internet Explorer</strong> or switch to a <strong>different browser</strong></p>
            <p>Failing that you can view my old <strong>Flex site</strong> by <a href="/archive/flexVersion.html"><strong>clicking here</strong></a></p>
        </div>

    </div>
    <!-- end: Row -->

</div>
<!-- end: Wrapper  -->